@use './../shared/global.scss' as global;

.poke-varieties {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  .total-items {
    font-weight: normal;
    opacity: .7;
    font-size: 14px;
    padding: 0 2px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow: visible;

    .variety {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2px;

      &.load-more {
        width: 100px;
        height: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: 50%;

        cursor: pointer;
        user-select: none;
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.5;
        }
      }

      &__badges {
        width: 20px;
        height: 20px;
        top: -12px;
        right: -5px;
        position: absolute;
        display: center;
        justify-content: center;
      }

      &__pokemon {
        img {
          width: 100px;
          height: 100px;
        }

        &:hover {
          transition: opacity 0.5s;
          opacity: 0.5;
        }
      }
    }
  }
}