.poke-profile {
  width: 100%;
  background-color: var(--primary-color);
  font-weight: 600;

  &--skeleton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;

    font-weight: 600;
    font-size: 16px;
    border-bottom: solid .5px;
    border-color: var(--secondary-color);

    &__name {
      display: flex;
      align-items: center;
      gap: 6px;

      p {
        font-size: 16px;
        margin: 0;
      }
    }

    &__types {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 6px;

      a {
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 22px 0 0 0;

    > img {
      width: 200px;
      height: 200px;
    }

    &__background {
      width: 200px;
      height: 200px;
      opacity: .5;

      path {
        fill: var(--third-color);
      }
    }

    &__avatar {
      position: absolute;
      top: 0;
      padding-top: 22px;
      width: 230px;
      height: 230px;
    }

    &__badges {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 24px;
      box-sizing: border-box;

      &__variations {
        min-height: 30px;
        display: flex;
        align-items: start;
        justify-self: center;
        box-sizing: border-box;
      }
    }

    &__measures {
      width: 100%;
      padding: 0 12px 12px 12px;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .pokemon-stats {
      padding: 24px 16px;

      &--short {
        padding: 16px 8px 12px 8px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    border-color: var(--secondary-color) !important;

    border-top: solid .5px;
    border-bottom: solid .5px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__damage-table {
      display: flex;
      flex-direction: column;

      &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        border-bottom: solid .5px;
        border-color: var(--secondary-color);
        box-sizing: border-box;

        text-align: center;
      }

      &__elements {
        height: 100%;

        display: flex;
        flex-direction: row;

        > div {
          display: flex;
          flex-direction: column;
          gap: 12px;
          min-height: 80px;

          padding: 12px;
          border-right: solid .5px;
          border-color: var(--secondary-color);

          &:last-child {
            border-right: none;
          }

          .elements {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3px;

            img {
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }
  }
}