.poke-profile {
  width: 100%;
  font-weight: 600;

  &.short {
    .poke-profile__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 12px;
      font-weight: 600;
      gap: 12px;
      box-sizing: border-box;

      .poke-profile__header__pokemon__types {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4px;
      }

      .poke-profile__header__avatar {
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        .poke-profile__header__avatar__background {
          width: 150px;
          height: 150px;
          padding: 24px;
          opacity: .5;

          path {
            fill: var(--third-color);
          }
        }

        .poke-profile__header__avatar__image {
          width: 150px;
          height: 150px;
        }
      }

      .poke-profile__header__pokemon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .poke-profile__header__pokemon__name {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;

          h1 {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 22px;
            margin: 0;
            row-gap: 0;
            column-gap: 8px;

            .modifier {
              font-family: 'Gruppo';
              font-size: 32px;
              margin: 0;
              font-weight: 100;
            }
          }
        }
      }
    }

    .poke-profile__body {
      padding: 0 8px;
    }
  }

  &--skeleton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 12px;
    font-weight: 600;
    gap: 8px;
    box-sizing: border-box;

    &__avatar {
      width: 230px;
      height: 230px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__background {
        width: 200px;
        height: 200px;
        padding: 24px;
        opacity: .5;

        path {
          fill: var(--third-color);
        }
      }

      &__image {
        top: 0;
        position: absolute;
        width: 200px;
        height: 200px;
      }
    }

    &__pokemon {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__name {
        gap: 6px;

        h1 {
          font-size: 32px;
          margin: 0;
          row-gap: 0;
          column-gap: 8px;

          .modifier {
            font-family: 'Gruppo';
            font-size: 42px;
            margin: 0;
            font-weight: 100;
            padding: 0 8px;
          }
        }
      }

      &__types {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;

        img {
          width: 26px !important;
          height: 26px !important;
        }
      }

      &__identifier {
        display: flex;
        align-items: center;
        gap: 8px;

        font-family: 'Inter';
        font-weight: 400;
        font-size: 20px;
        opacity: .7;

        span {
          text-align: end;
        }

        span.original-name {
          text-align: start;
          font-weight: 500;
          opacity: .5;
        }
      }

      &__overall {
        display: flex;
        align-items: flex-end;
        gap: 8px;

        font-family: 'gruppo';
        text-transform: uppercase;

        span {
          font-size: 16px;
          opacity: .7;

          &:last-child {
            font-family: 'inter';
            font-size: 16px;
            opacity: 1;
          }
        }
      }
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;

    .pokemon-stats {
      padding: 24px 16px;
      width: 50%;

      &--short {
        padding: 8px;
      }
    }

    .poke-effectiveness {
      width: 30%;
    }
  }
}