.move-detail {
  text-shadow: 1px 1px 1px rgb(29, 29, 29);
  max-height: 24px !important;
  min-height: 17px !important;
  color: #fff;

  svg {
    color: #fff !important;
    filter: drop-shadow(1px 1px 1px rgb(29, 29, 29));
  }

  > span {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.tippy-tooltip-move {
  font-weight: 500;
  color: var(--font-color) !important;
  background-color: var(--secondary-color) !important;
}