.percentage-bar {
  display: flex;
  border-radius: 5px;
  background-color: #2f2f2f;
  overflow: hidden;

  > div {
    display: flex;
    transition: width .5s ease-out;
    animation: fill-percentage .5s ease-out;
  }
}

@keyframes fill-percentage {
  0% {
    width: 0;
  }
}