@use './../shared/global.scss' as global;

.pokemon-shape {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: var(--global-border-radius);
  padding: 24px;

  :last-child {
    border-bottom: none;
  }

  &__row {
    width: 100%;
    padding: 12px;
    border-bottom: solid 0.5px;
    border-color: var(--secondary-color);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    &__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding: 12px;

      &__title-value {
        width: 100%;
        display: flex;
        justify-content: space-between;

        > span:first-child {
          text-align: flex-start;
          font-weight: 500;
        }
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 12px;
      padding: 12px;

      border-bottom: solid 0.5px;
      border-color: var(--secondary-color);
      box-sizing: border-box;

      &__title {
        width: 30%;
        text-align: flex-start;
        font-weight: 500;
      }
    }

    &__tags {
      display: flex;
      justify-content: space-between;
      padding: 12px;
      border-bottom: solid 0.5px;
      border-color: var(--secondary-color);
      box-sizing: border-box;

      > div {
        display: flex;
        justify-content: space-between;
        gap: 4px;

        > small {
          padding: 0 4px;
          border-radius: 2px;
        }
      }
    }

    &__title {
      text-align: flex-start;
      font-weight: 500;
    }

    &__value {
      width: 15%;
      text-align: end;
    }
  }

  .egg {
    width: 17px;
    height: 20px;
    display: block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
}