@use './../shared/global.scss' as global;

.pokemon-shape {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__head {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  &__row {
    width: 100%;
    padding: 12px;
    border-bottom: solid 0.5px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    &__title {
      width: 30%;
      text-align: start;
    }

    &__value {
      width: 15%;
      text-align: end;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}