// default theme
html[data-theme="dark"], :root {
  --primary-color: #161616;
  --rgb-primary-color: 22, 22, 22;
  --secondary-color: #2f2f2f;
  --third-color: #202020;
  --fourth-color: rgb(65, 65, 65);
  --font-color: #fff;
  --focus-border-color: rgb(85, 85, 85);
  --text-shadow-color: rgb(30, 30, 30);
  --outline-color: #2683fd;
}