$header-height: 72px;

html {
  color: var(--font-color);

  .skeleton {
    span {
      opacity: .5;
      border-radius: 3px;
      background-color: var(--secondary-color);
    }

    div {
      border-color: var(--secondary-color) !important;
    }
  }

  .loading {
    fill: var(--secondary-color) !important;
  }

  body {
    background-color: var(--secondary-color);
  }

  hr {
    border: solid .5px var(--secondary-color);
  }

  input {
    color: var(--font-color);
  }

  a, svg {
    color: var(--font-color);
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--primary-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: 3px solid var(--primary-color);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes loading-logo-pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}