$header-height: 82px;

:root {
  --global-gap: 8px;
  --global-border-radius: 3px;
  --abort-color: #ff595e;
}

html {
  color: var(--font-color);

  .skeleton {
    span {
      opacity: .5;
      border-radius: 3px;
      background-color: var(--secondary-color);

      &.primary {
        opacity: 1;
        background-color: var(--primary-color);
      }
    }

    div {
      border-color: var(--secondary-color) !important;

      svg {
        path {
          fill: var(--third-color);
        }
      }
    }
  }

  .loading {
    fill: var(--secondary-color) !important;
  }

  body {
    background-color: var(--secondary-color);
  }

  hr {
    border: solid .5px var(--secondary-color);
  }

  input {
    color: var(--font-color);
  }

  a, svg {
    color: var(--font-color);
  }

  button {
    padding: 8px 12px;
    background-color: var(--font-color);
    color: var(--primary-color);
    border-radius: 5px;
    font-weight: 600;
    opacity: .7;
    border: 0;
    font-family: 'Jura';
    font-size: 14px;
    transition: opacity ease .5s;
    user-select: none;
    text-transform: uppercase;

    &.outline {
      opacity: .8;
      background-color: transparent;
      border: solid 2px var(--outline-color);
      color: var(--outline-color);

      &--abort {
        opacity: .8;
        color: var(--abort-color);
        font-size: 16px;
      }
    }

    &.icon {
      background-color: var(--primary-color);

      svg {
        color: var(--font-color) !important;
      }
    }

    &.simple {
      display: flex;
      align-items: flex-end;
      background-color: transparent;
      color: var(--outline-color);
      text-transform: uppercase;
      font-weight: 700;
      opacity: .9;

      svg {
        fill: var(--outline-color);
      }
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:disabled {
      cursor: default;
      opacity: .4;
    }
  }

  kbd {
    padding: 2px 4px;
    border-radius: 2px;
    border: solid .5px var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-weight: 500;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--primary-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: 3px solid var(--primary-color);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes loading-logo-pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}