html[data-theme="light"] {
  --primary-color: #fff;
  --rgb-primary-color: 255, 255, 255;
  --secondary-color: #f6f8fc;
  --third-color: #edf3fb;
  --font-color: rgb(48, 48, 48);
  --focus-border-color: rgb(220, 220, 220);
  --text-shadow-color: rgb(233, 233, 233);
}