html[data-theme="light"] {
  --primary-color: #fff;
  --rgb-primary-color: 255, 255, 255;
  --secondary-color: #f6f8fc;
  --third-color: #eef1f7;
  --fourth-color: rgb(199, 199, 199);
  --font-color: rgb(48, 48, 48);
  --focus-border-color: rgb(220, 220, 220);
  --text-shadow-color: rgb(233, 233, 233);
  --outline-color: #2683fd;
}