@use './../shared/global.scss' as global;

.poke-search {
  width: 100%;
  height: 42px;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-color);

  &__input-group {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 11;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 3px;
    background-color: var(--third-color);

    &__input {
      width: 100%;
      height: 42px;
      padding: 4px 12px;

      border: none;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    &__icon {
      width: 54px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
    }
  }

  &__suggestions, &__suggestions--visible {
    width: 100%;

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);

    visibility: hidden;
    position: relative;
    z-index: 11;

    &__pokemon, &__pokemon--selected {
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 18px;
      user-select: none;
      opacity: .5;

      &__avatar-name {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          margin-right: 6px;
        }

        .name {

        }

        .original-name {
          margin-left: 6px;
          font-size: 12px;
          opacity: .7;
        }
      }

      &__types-varieties {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 4px;

        img {
          width: 22px;
          height: 22px;
        }
      }

      &:hover, &--selected {
        opacity: 1;
        cursor: pointer;
      }
    }

    &--visible {
      visibility: visible;
    }
  }

  &__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    position: fixed;
    z-index: 10;
  }
}