.poke-evolutions {
  &__header {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .evolution-node {
      display: flex;
      gap: 8px;
      border-radius: 5px;

      &-pokemon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 8px 24px;

        font-weight: 600;
        border-radius: 3px;
        cursor: pointer;

        img {
          width: 100px;
          height: 100px;
        }

        .default {
          width: 90px;
          height: 90px;

          path {
            fill: var(--third-color);
          }
        }

        &:hover {
          transition: opacity 0.5s;
          opacity: 0.5;
        }
      }

      &-arrow {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      &-nexts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;

        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      > div {
        display: flex;
        align-items: center;
      }
    }
  }
}

.tippy-tooltip {
  background-color: var(--primary-color);
  color: var(--font-color);

  &.evolution-theme {
    margin: 20px !important;
    border: solid .5px !important;
    border-radius: 5px !important;
    border-color: var(--secondary-color) !important;

    &--first-node {
      display: none;
    }

    .evolves {
      display: flex;
      align-items: center;
      gap: 4px;

      .trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
      }

      .extra {
        display: flex;
        align-items: center;
        justify-content: center;

        &--use-item {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}