#home {
  display: flex;
  flex-direction: column;

  width: 1200px;
  padding: 24px 0;
  margin: 0 auto;

  .poke-cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 16px;

    overflow: visible !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  #home {
    width: 320px;
    flex-direction: column;

    padding: 24px 0;
    margin: 0 auto;

    .poke-cards {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      gap: 16px;

      overflow: visible !important;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}





