.home {
  display: flex;
  flex-direction: column;

  width: var(--global-container-width);
  padding: 24px 0;
  margin: 0 auto;
  gap: 32px;

  > div {
    padding: 0 24px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    &__compare {
      width: 100%;
      height: 257.2px;
    }
  }

  &__pokemons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .custom-search {
        width: 30%;
      }
    }

    &__list {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      gap: 8px;

      overflow: visible !important;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  .home {
    width: 100%;
    padding: 0;

    > div {
      padding: 0;
    }

    &__top {
      display: none;
    }

    &__pokemons {
      $pokemon-filter-height: 52px;

      &__header {
        width: 100%;
        height: $pokemon-filter-height;
        position: fixed;
        z-index: 2;

        .custom-search {
          width: 100%;
          border-radius: 0;
        }
      }

      &__body {
        top: $pokemon-filter-height;
        position: relative;
        padding: 8px 0;
      }
    }
  }
}





