.profile {
  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 50%;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 0;
    }

    span {
      a {
        opacity: .7;
        text-decoration: none;
      }
    }
  }

  &__description {
    opacity: .9;
    text-align: center;
  }

  &__location {
    opacity: .7;
    text-align: center;
  }
}