@use './../shared/global.scss' as global;

.poke-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .total-items {
    font-weight: normal;
    opacity: .7;
    font-size: 14px;
    padding: 0 2px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    gap: 4px;
    flex-wrap: nowrap;
    overflow-x: auto;

    .item {
      width: 50px;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      img {
        width: 50px;
        height: 50px;
      }

      &.load-more {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: 3px;

        cursor: pointer;
        user-select: none;
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.tippy-tooltip {
  margin: 0 !important;
  padding: 0 !important;
  color: inherit;

  &.item-theme {
    border: solid .5px !important;
    border-radius: 5px !important;
    margin: 0 !important;
    padding: 0 !important;

    .head {
      width: 100%;
      padding: 12px 14px;
      border-bottom: solid 0.5px;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 18px;
        font-weight: 600;
      }
    }

    .body {
      padding: 12px 14px;
    }
  }
}