$background-color: rgb(var(--primary-color));

.pokemon-habitat {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  background-attachment: fixed;

  display: flex;
  justify-content: end;
  flex-direction: column;
  background-color: var(--primary-color);

  &__blackground {
    width: 100%;
    display: flex;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      45deg,
      rgba(var(--rgb-primary-color), .8) 25%,
      rgba(var(--rgb-primary-color), .7),
      rgba(var(--rgb-primary-color), .8)
    );

    &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }
}