.cone {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4px;
  padding: 4px 0;

  .lvl {
    width: 10px;
    height: 12px;
    border-radius: 2px;
    background-color: var(--secondary-color);

    &.l-1 {
      background-color: #bfd200;
    }
    &.l-2 {
      background-color: #ffba08;
    }
    &.l-3 {
      background-color: #f48c06;
    }
    &.l-4 {
      background-color: #dc2f02;
    }
    &.l-5 {
      background-color: #950706;
    }
    &.l-6 {
      background-color: #750227;
    }
    &.l-7 {
      background-color: #570044;
    }
    &.l-8 {
      background-color: #3B005C;
    }
    &.l-9 {
      background-color: #250740;
    }
  }
}