#not-found-page {
  width: 1200px;
  padding: 24px 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  a {
    font-weight: 600;
    color: #dcb778;
    text-decoration: none;
  }

  > div {
    img {
      width: 500px;
      height: 500px;
    }
  }
}

@media (min-width: 320px) and (max-width: 1200px) {
  #not-found-page {
    width: 100%;

    > div {
      padding: 42px;

      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}