@use './../shared/global.scss' as global;

.pokemon-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  border-top: solid .5px;
  border-color: var(--secondary-color);

  > div {
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 0.3fr;
    grid-auto-flow: column;
    gap: 12px;
    align-items: center;

    span:first-child {
      text-align: end;
    }

    span:last-child {
      text-align: start;
    }
  }

  &__bar {
    width: 100%;
    height: 10px;
  }
}

.pokemon-stats--short {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  border-top: solid .5px;
  border-color: var(--secondary-color);

  > div {
    display: grid;
    grid-template-columns: 0.2fr 1.3fr 0.6fr;
    grid-auto-flow: column;
    gap: 12px;
    align-items: center;

    span:first-child {
      text-align: end;
    }

    span:last-child {
      display: flex;
      justify-content: space-between;
      text-align: start;
    }
  }

  .positive {
    color: #2da44e;
  }

  .negative {
    color: #ef233c;
  }
}