.header {
  height: 72px;

  &__container {
    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #161616;
    z-index: 100;

    &__limit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;
      padding: 12px 4px;
      box-sizing: border-box;

      &__nav {
        display: flex;
        align-items: center;

        &__menu {
          display: none;
          padding-right: 12px;
        }

        ul {
          display: flex;
          gap: 18px;
          margin: 0;
          padding: 0;

          list-style-type: none;

          li {
            color: #fff;
            font-weight: 500;
            opacity: .7;

            &:hover {
              opacity: 1;
            }
          }

          a {
            text-decoration: none !important;
          }
        }
      }

      &__search {
        width: 35%;
      }
    }

  }
}

@media (min-width: 350px) and (max-width: 1200px) {
  .header {
    &__container {
      position: fixed;
      width: 100%;

      &__limit {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 8px 12px;

        &__nav {
          display: flex;
          align-items: center;

          ul {
            display: none;
          }

          &__menu {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &__search {
          width: 100%;
          height: 56px;

          .poke-search {
            height: 100%;

            &__input-group__input {
              height: 56px;
            }

            &__suggestions, &__suggestions--visible {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}