.poke-abilities {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .ability {
      display: flex;
      flex-direction: column;

      border-radius: 3px;
      background-color: rgb(32, 32, 32);

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 8px 14px;
        font-weight: 600;
        border-bottom: solid .5px rgb(22, 22, 22);
      }

      &-description {
        padding: 14px;
      }
    }
  }
}