@use './../shared/global.scss' as global;

.poke-abilities {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .ability {
      display: flex;
      flex-direction: column;

      border-radius: 3px;

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 8px 14px;
        font-weight: 600;
        border-bottom: solid .5px;
      }

      &-description {
        padding: 14px;
      }
    }
  }

  .loading-more {
    height: 33px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .total-items {
    font-weight: normal;
    opacity: .7;
    font-size: 14px;
    padding: 0 2px;
  }

  .load-more {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    font-weight: 600;
    border-radius: 3px;

    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}