@use './../shared/global.scss' as global;

.poke-badge {
  display: flex;
  align-items: center;
  gap: 12px;

  &__title {
    display: flex;
    align-items: center;
    justify-self: center;

    border-radius: 2px;
    user-select: none;
    font-size: 14px;
    font-family: 'Gruppo';
    font-weight: 100;
  }

  &__image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
}

.tippy-tooltip-badge {
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(30, 30, 30);
  color: white;
}

.alola { background-image: linear-gradient(315deg, #de7600 0%, #003594 74%); }
.galar { background-image: linear-gradient(315deg, #d41e46 0%, #287dc0 74%); }
.gmax { background-image: linear-gradient(315deg, #d99058 0%, #f8de7e 74%); }
.mega { background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%) }
.mega-x { background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%) }
.mega-y { background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%) }
.eternamax { background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%) }