@use './../shared/global.scss' as global;

.poke-moves {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .move {
      display: flex;
      flex-direction: column;
      border-radius: 3px;

      &-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid .5px;
        padding: 8px 14px;
        box-sizing: border-box;

        img {
          width: 22px;
          height: 22px;
        }

        &-values {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 22px;

          padding: 0 4px;

          > div {
            > span {
              display: flex;
              align-items: center;
              gap: 6px;
              font-weight: 600;
            }
          }
        }

        &-name {
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }

      &-description {
        padding: 14px;
      }
    }
  }

  .total-items {
    font-weight: normal;
    opacity: .7;
    font-size: 14px;
    padding: 0 2px;
  }

  .loading-more {
    height: 33px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .load-more {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    font-weight: 600;
    border-radius: 3px;

    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}