$input-size: 42px;

.poke-moves {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__header {
    min-height: 42px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr auto;
    gap: 8px;

    > span {
      font-size: 18px;
      font-weight: 600;
    }

    &__filters {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: flex-end;
    }

    .total-items {
      align-items: center;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .move {
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      background-color: var(--third-color);

      &-header {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2.5fr auto;
        justify-content: space-between;
        border-bottom: solid .5px;
        padding: 8px 14px;
        box-sizing: border-box;
        border-color: var(--primary-color);
        gap: 4px;

        img {
          width: 22px;
          height: 22px;
        }

        > div {
          display: flex;
          align-items: center;

          > small {
            display: flex;
            align-items: center;
            max-height: 24px;
            font-weight: 600;
            border-radius: 2px;
            background-color: var(--secondary-color);
            padding: 3px 6px;
            box-sizing: content-box;
            gap: 8px;
          }
        }

        &-name {
          display: flex;
          align-items: center;
          gap: 12px;
          font-weight: 600;
        }

        &-tags {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 4px;
          box-sizing: border-box;
        }

        &-values {
          display: flex;
          align-self: flex-end;

          .pp {
            min-width: 38px;
            display: flex;
            justify-content: space-between;
            border-radius: 2px;
            background-image: linear-gradient(-68deg, var(--primary-color) 50%, var(--secondary-color) 50%);
            text-shadow: 1px 1px 1px var(--text-shadow-color);
          }
        }
      }

      &-description {
        padding: 14px;
      }
    }
  }

  .total-items {
    font-weight: normal;
    opacity: .7;
    font-size: 14px;
    padding: 0 2px;
  }

  .loading-more {
    height: 33px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .load-more {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    font-weight: 600;
    border-radius: 3px;
    background-color: var(--third-color);

    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.select-move-categories {
  min-width: 100px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
