@use './../shared/global.scss' as global;

$nav-height: 70px;

.navigation {
  width: 100%;
  height: $nav-height;

  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;

    opacity: 0.5;
    cursor: pointer;
    user-select: none;

    &:hover {
      transition: opacity 0.5s;
      opacity: 1;
    }
  }

  &__current {
    opacity: 1 !important;
    cursor: unset !important;
  }
}

@media (min-width: 350px) and (max-width: 1200px) {
  .navigation {
    position: fixed;
    top: global.$header-height;
    left: 0;
    z-index: 10;
    max-height: $nav-height;
    padding: 16px 16px;
    border-radius: 0;

    &__box {
      height: $nav-height - 8px;
    }

    .pokemon-name {
      display: none;
    }
  }
}