$default-card-color: rgb(22, 22, 22);
$mega-card-color: #9fa4c4;
$gmax-card-color: #f8de7e;
$eternamax-card-color: #0cbaba;


.poke-card {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 324px;

  position: relative;
  border-radius: 3px;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(22, 22, 22);

  background-color: $default-card-color;
  background-size: cover;

  cursor: pointer;
  user-select: none;
  z-index: 0;

  &__skeleton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 324px;

    position: relative;
    border-radius: 3px;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(22, 22, 22);

    background-color: $default-card-color;

    img {
      width: 50%;
      animation: loading-logo-pulse 2s infinite ease;
    }
  }

  &__avatar {
    position: absolute;
    top: -15px;
    left: -15px;

    width: 45px;
    height: 45px;
    image-rendering: pixelated;

    z-index: 3;
    border-radius: 50%;
    background-color: $default-card-color;
  }

  &__name {
    position: absolute;
    top: -10px;

    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: $default-card-color;
    margin-left: 15px;
    padding: 4px 8px 4px 16px;
    border-radius: 3px;

    z-index: 2;
    transform: skewX(-10deg);
  }

  &__genre {
    padding: 0 2px;

    &--male {
      color: lightskyblue;
    }

    &--female {
      color: pink;
    }
  }

  &__modifier {
    position: absolute;
    top: 18px;
    border-bottom-right-radius: 5px;

    padding: 2px 8px 2px 26px;

    font-weight: 600;
    font-size: 12px;
    color: white;
    text-shadow: 0px 1px 2px black;
  }

  &__types {
    position: absolute;
    top: -15px;
    right: -12px;

    display: flex;
    flex-direction: column;
    gap: 2px;

    img {
      width: 25px;
      height: 25px;

      border: solid 4px rgb(22, 22, 22);
      background-color: $default-card-color;
      border-radius: 50%;

      z-index: 4;
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    margin-top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 130px;
      height: 130px;
    }
  }

  &__elements {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    font-size: 12px;
    font-weight: 600;

    padding: 4px 8px;
    background: linear-gradient(to top, rgba(22, 22, 22, .5), rgba(22, 22, 22, 0));

    > div {
      display: flex;
      flex-direction: column;
      height: 45px;

      .types {
        display: flex;
        box-sizing: border-box;

        display: flex;

        img {
          width: 22px;
          height: 22px;
          margin: 1px;
          border-radius: 50%;
          border: solid 3px rgb(22, 22, 22);
          background-color: $default-card-color;
        }
      }

      .title {
        padding: 0 4px;
      }
    }

    &--resistance {
      display: flex;
      justify-content: flex-end;
      text-align: start;

      .types {
        justify-content: flex-start;
      }
    }

    &--weakness {
      display: flex;
      justify-content: flex-end;
      text-align: end;

      .types {
       justify-content: flex-end;
      }
    }

    &--more {
      width: 28px;
      height: 28px;
      margin: 1px;

      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 600;
      font-size: 10px;
      color: #fff;

      background-color: rgba(22, 22, 22, .7);
      border-radius: 50%;
    }
  }

  &__ability {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 12px;
    color: white;

    &__title {
      text-shadow: 0px 0px 2px red;
      font-weight: 600;
      font-size: 12px;
      font-style: italic;
    }

    &__name {
      font-weight: 600;
      font-size: 14px;
    }

    &__total {
      text-shadow: 0px 0px 2px red;
      font-weight: 600;
      font-size: 14px;
      font-style: italic;
    }
  }

  &__stats {
    padding: 2px 0;
    bottom: 0;

    display: flex;
    align-items: center;
    column-gap: 4px;

    width: 100%;

    > span {
      position: relative;

      width: 96px;
      height: 24px;
      font-weight: 600;
      padding: 0 4px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      background-color: $default-card-color;
      transform: skewX(-20deg);

      .value {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-size: 12px;
        color: #fff;
        transform: skewX(20deg);
      }

      &:first-child {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -5px;
          width: 10px;
          height: 24px;
          background-color: $default-card-color;
          transform: skewX(20deg);
        }
      }

      &:last-child {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: -5px;
          width: 10px;
          height: 24px;
          background-color: $default-card-color;
          transform: skewX(20deg);
        }
      }
    }

    &--attack {
      border-bottom: solid 2px tomato;
    }

    &--defense {
      border-bottom: solid 2px skyblue;
    }

    &--speed {
      border-bottom: solid 2px gold;
    }

    &--hp {
      position: absolute;
      top: 0;
      right: 0;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      width: 100%;
      padding: 2px 28px;
      box-sizing: border-box;

      color: #fff;
      font-weight: 600;
      text-shadow: 1px 1px black;

      background: linear-gradient(rgba(22, 22, 22, .5), rgba(22, 22, 22, 0));
    }
  }

  &:hover {
    animation: zoom-card 2s ease;
    transform: scale(1.05);
    z-index: 10;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    .poke-card__name {
      z-index: 10;
    }

    .poke-card__types {
      img {
        z-index: 12;
      }
    }

    .poke-card__avatar {
      z-index: 11;
    }
  }
}

.mega.poke-card, .mega-x.poke-card, .mega-y.poke-card {
  border-color: $mega-card-color !important;

  .poke-card__avatar {
    background-color: $mega-card-color !important;
  }

  .poke-card__name {
    text-shadow: 0px 0px 2px black;
    background-color: $mega-card-color !important;
  }

  .poke-card__types {
    img {
      border: solid 4px $mega-card-color !important;
      background-color: $mega-card-color !important;
    }
  }
}

.gmax.poke-card {
  border-color: $gmax-card-color !important;

  .poke-card__avatar {
    background-color: $gmax-card-color !important;
  }

  .poke-card__name {
    text-shadow: 0px 0px 2px black;
    background-color: $gmax-card-color !important;
  }

  .poke-card__types {
    img {
      border: solid 4px $gmax-card-color !important;
      background-color: $gmax-card-color !important;
    }
  }
}

.eternamax.poke-card {
  border-color: $eternamax-card-color !important;

  .poke-card__avatar {
    background-color: $eternamax-card-color !important;
  }

  .poke-card__name {
    text-shadow: 0px 0px 2px black;
    background-color: $eternamax-card-color !important;
  }

  .poke-card__types {
    img {
      border: solid 4px $eternamax-card-color !important;
      background-color: $eternamax-card-color !important;
    }
  }
}

@keyframes zoom-card {
  to {
    transform: scale(1.05)
  }
}